[tool.pytest.ini_options]
minversion = 7.0
addopts = "-q --cov --cov-report=xml --ignore-glob={{cookiecutter.project_slug}}/source/*"
testpaths = ["tests"]

[tool.isort]
profile = "black"
skip_glob = "{{cookiecutter.project_slug}}/source/*"

[tool.pyrefly]
project-excludes = ["{{cookiecutter.project_slug}}/source"]
search-path = ["{{cookiecutter.project_slug}}"]

[tool.coverage.run]
branch = true
source = ["local_extensions", "{{cookiecutter.project_slug}}/sphinx_extensions"]

[tool.ruff]
line-length = 95
exclude = [
    ".git",
    ".venv",
    ".direnv",
    '\{\{cookiecutter.project_slug\}\}/source/',
]
select = ["I"]
