alabaster==1.0.0
arrow==1.4.0
Babel==2.17.0
beautifulsoup4==4.14.3
binaryornot==0.4.4
black==24.3.0
budoux==0.7.0
certifi==2026.1.4
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
cookiecutter==2.6.0
coverage==7.13.2
distlib==0.4.0
docutils==0.21.2
filelock==3.20.3
identify==2.6.16
idna==3.11
imagesize==1.4.1
iniconfig==2.3.0
isort==5.12.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
mypy==0.950
mypy-extensions==1.1.0
myst-parser==4.0.0
nodeenv==1.10.0
packaging==25.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
pre-commit==4.5.1
Pygments==2.19.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-randomly==4.0.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.3
requests==2.32.5
rich==14.3.1
ruff==0.1.6
setuptools==80.10.2
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.8.3
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
text-unidecode==1.3
types-beautifulsoup4==4.12.0.20250516
types-html5lib==1.1.11.20251117
types-python-dateutil==2.9.0.20260124
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==20.36.1
