beautifulsoup4==4.12.2
black==22.3.0
budoux==0.5.2
cookiecutter==2.2.3
flake8==4.0.1
isort==5.10.1
mypy==0.950
pytest==7.4.0
pytest-black==0.3.12
pytest-cov==4.1.0
pytest-flake8==1.1.1
pytest-isort==3.1.0
pytest-mypy==0.10.3
pytest-randomly==3.13.0
Sphinx==7.0.1
alabaster==0.7.13
arrow==1.2.3
attrs==23.1.0
Babel==2.12.1
binaryornot==0.4.4
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
coverage==7.2.7
docutils==0.19
exceptiongroup==1.1.2
filelock==3.12.2
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.2
jinja2-time==0.2.0
MarkupSafe==2.1.3
mccabe==0.6.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.9.1
pluggy==1.2.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.15.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.4
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
types-beautifulsoup4==4.12.0.5
types-html5lib==1.1.11.15
typing_extensions==4.7.1
urllib3==2.0.4
