name: Create slide

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install cookiecutter
      run: pipx install cookiecutter
    - name: Create slide
      run: cookiecutter . --no-input -o .work/slide
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
        cache: 'pip'
        cache-dependency-path: '**/requirements.txt'
    - name: Build sphinx-revealjs
      run: |
        cd .work/slide/cookiecutter_sphinx_revealjs
        pip install -r requirements.txt
        make revealjs
