name: Create slide

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ '3.9', '3.10' ]

    steps:
    - uses: actions/checkout@v3
    - name: Install cookiecutter
      run: pipx install cookiecutter
    - name: Create slide
      run: PYTHONPATH=${PWD} cookiecutter . --no-input -o .work/slide
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: '**/requirements.txt'
    - name: Build sphinx-revealjs
      run: |
        cd .work/slide/cookiecutter_sphinx_revealjs
        pip install -r requirements.txt
        make revealjs
