name: Create slide

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
        replay-file-path: [
          './replay-files/reStructuredText.json',
          './replay-files/Markdown.json'
        ]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install cookiecutter
      run: pipx install cookiecutter
    - name: Create slide
      run: PYTHONPATH=${PWD} cookiecutter . --replay-file=${{ matrix.replay-file-path }} -o .work/slide
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: '**/requirements.txt'
    - name: Build sphinx-revealjs
      run: |
        cd .work/slide/cookiecutter-sphinx-revealjs
        pip install -r requirements.txt
        playwright install --with-deps chromium
        make revealjs
